h1 {
     font-size: 30px;
     text-align: center;
     color: #44D41C;
     font-family: Arial
}

body {
   font-size: 13px;
   text-align: center;
   color: #FFFFFF;
   font-family: cursive;
   font-weight: bold;
   background-image: url(https://img.webme.com/pic/h/hebergement-photos/darknesss-compressor.png);
}