h1 {
     font-size: 50px;
     text-align: center;
     color: #44D41C;
     font-family: cursive;
}

body {
   font-size: 20px;
   text-align: center;
   color: #FFFFFF;
   font-family: cursive;
   font-weight: bold;
   background-image: url(https://img.webme.com/pic/h/hebergement-photos/Sans-titre-1-compressor.jpg);
}