h1 {
     font-size: 28px;
     text-align: center;
     color: #44D41C;
     font-family: courier;
}

body {
	text-align: center;
   font-size: 12px;
   color: #FFFFFF;
   font-family: comic sans ms;
   font-weight: bold;
   background-image: url(Images/acheter-pas-cher.png);
}